@(empForm: Form[models.users.Employee], addressForm: Form[models.users.Address],user: models.users.User)


@import helper._

@main("Add Employee",user){
    <p class="lead">Add a new Employee</p>

    <!-- Use a views.html.helpers package method to create the form (instead of html)-->
    <!-- Note the arguments that are being passed to the scala function form (they are
         essentially instructions for constructing an HTML form element)-->
    @form(action=routes.HomeController.addEmployeeSubmit, 'class -> "form-horizontal", 'role -> "form") {
        @* CSRF attack prevention *@
        @* This token, sent by the controller, will be used to authenticate the form submission *@
        @CSRF.formField
             @inputText(empForm("email"), '_label -> "Email", 'class -> "form-control")
             @inputText(empForm("name"), '_label -> "Name", 'class -> "form-control")
             @inputDate(empForm("dateOfBirth"), args = 'size -> 10, '_label -> "Date Of Birth", 'class -> "form-control")
             @inputText(empForm("password"), '_label -> "Password", 'class -> "form-control")
             @inputText(empForm("dept"), '_label -> "Department", 'class -> "form-control")         
             @inputText(empForm("jobRole"), '_label -> "Position", 'class -> "form-control")
             @inputText(addressForm("street1"), '_label -> "Street 1 Address", 'class -> "form-control")
             @inputText(addressForm("street2"), '_label -> "Street 2 Address", 'class -> "form-control")
             @inputText(addressForm("town"), '_label -> "Town", 'class -> "form-control")
             @inputText(addressForm("postCode"), '_label -> "PostCode", 'class -> "form-control")

             @inputText(empForm("role").copy(value=Some("employee")), '_label -> "",'hidden -> "hidden")
             @inputText(addressForm("email"), '_label -> "", 'hidden -> "hidden")




            
            <!-- We use the bootstrap actions class for the buttons at the bottom:
                1. The submit button for the form
                2. A button that allows the user to cancel without adding an item
            -->
            <div class="actions">
                <input type="submit" value="Add/Update Employee" class="btn btn-primary">
                <a href="@routes.HomeController.usersEmployees()">
                    <button type="button" class="btn btn-warning">Cancel</button>
                </a>
            </div>
    } @* end of form *@
} @* end of main *@